{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            {% block title %}

            {% endblock %}
        </title>
        <link rel="shortcut icon" href="{% static 'img/logo.ico' %}">
        <script src="https://kit.fontawesome.com/cc3b6ebc34.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/styles_new.css' %}" type="text/css">
    </head>
    <body>
        {% block content %}

        {% endblock %}
    </body>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</html>