{% extends 'base2.html' %}
{% load static %}
{% block title %}Flights{% endblock %}
{% block content %}
<div class="container-fluid scroll-group">
    <h2 class="mt-4">Available flights: </h2>
    {% if flights.exists %}
    <div class="row flex-nowrap mt-4">
        {% for object in flights %}
        <div class="col-sm-3 col-md-3">
            <div class="card shadow card-block p-2 mb-5 bg-white rounded" style="width: 18rem;">
                <div class="card-container">
                    <img class="card-img-top" style="min-height: 169px; max-height: 169px;" src="{{object.imageFile.url}}" alt={{object.name}}>
                    <div class="card-body">
                        <h5 class="card-title">{{object.name}}</h5>
                        {% if object.desc != '' %}
                            <p class="card-text">{{object.desc}}</p>
                        {% else %}
                            <p>No description.</p>
                        {% endif %}
                        <!--<p class="card-text lead"><span>&#8369;</span> {{object.price}}</p>-->
                        <div class="card-container" style="white-space: nowrap;">
                        <a href="{% url 'add_flight_plan' object.id %}" class="badge badge-success p-2 card-link mr-3" id="dineIn">Add to schedule</a>
                        {% if request.user.is_superuser %} 
                            <a href="{% url 'del_flights' object.id %}" class="badge badge-danger p-2 card-link" id="dineIn">Remove Item</a> 
                        {% endif %}
                        </div>
                    </div>
                </div>                
            </div>
        </div>
        {% endfor %}    
    </div> 
    {% else %}
        <h3 class="mt-4" style="color: red;">There are no current available flights right at this moment :/ </h3>
    {% endif %}
<!-- Navigation Buttons Footer -->
</div>
<!-- Menu toggle script -->

{% endblock %}