{% extends 'base2.html' %}
{% load static %}
{% block title %}Homepage{% endblock %}
{% block content %}
<div class="container-fluid">
    <h1 class="mt-4">Welcome to Flight Scheduler</h1>
    <p>Flight Scheduler is the world’s travel platform, with an extensive brand portfolio that includes some of the world’s most trusted online travel brands.</p>
    <p>It has services where it can serve you with a quality-standard services throughout your journey.</p>
    <br />
    <p>To start, press the <i class="fas fa-plane-departure"></i><code>Check for available flights</code>.</p>
</div>

<!-- Menu toggle script -->

{% endblock %}