{% extends 'base2.html' %}
{% load static %}
{% block title %}Profile of {% if request.user.first_name %}
{{request.user.first_name}}
{% else %}
{{request.user}}
{% endif %}{% endblock %}
{% block content %}
<div class="container-fluid">
    <h1 class="mt-4">Profile of {% if request.user.first_name %}
        {{request.user.first_name}}
        {% else %}
        {{request.user}}
        {% endif %}
    </h1>
    <p>First Name: 
        {% if request.user.first_name %}
        {{request.user.first_name}}
        {% else %}
        None
        {% endif %}</p>
    <p>Last Name: {% if request.user.last_name %}
        {{request.user.last_name}}
        {% else %}
        None
        {% endif %}</p>
    <p>Email Address: {% if request.user.email %}
        {{request.user.email}}
        {% else %}
        None
        {% endif %}</p>
    
</div>

<!-- Menu toggle script -->

{% endblock %}